<!DOCTYPE html>
<html lang="en" xmlns:th=" www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Injera recipe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
</head>
<body>

<div class="navigation">
    <div class="container">
        <a class="btn btn-primary" th:href="@{'/'}" >Home</a>

        <div class="dropdown" >
            <button class="btn btn-primary">Recipe</button>
            <div class="dropdown-content">
                <a th:href="@{'/injera'}">Injera</a>
                <a th:href="@{'/crabby'}">Crab cake</a>
            </div>
        </div>
        <a class="btn btn-primary" th:href="@{'/gallery}" >Gallery</a>
    </div>
</div>
<div class="header">
    <img src="/images/usaflag.png" alt="USA Flag"/>

</div>
<div>
<h1>Crabcake Recipe</h1>
<h2>Ingredients:</h2>
<ul>
    <li>1 lb. jumbo lump or backfin crab meat </li>
    <li>2 slices bread or bread crumbs</li>
    <li>1 tbsp. mayonnaise (light or regular)</li>
    <li>1 tbsp. Dijon mustard</li>
    <li>2 tsp. Old Bay seasoning</li>
    <li>1 tbsp. snipped parsley</li>
    <li>1 egg (or substitute for special diets)</li>
    <li> tartar sauce or cocktail sauce</li>
</ul>


<h2>Directions:</h2>

<p >Beat the egg in a bowl. Trim the crusts from the bread and break the slices into small pieces. Add these pieces to the egg. Mix in the mayonnaise, Dijon mustard, Chesapeake seasoning and parsley, and beat well.

    Place the crabmeat in a bowl and pour the egg mixture over the top. Gently toss or fold the ingredients together, taking care not to break up the lumps of crabmeat.

    Form the cakes by hand into patties about 3 inches around and 3/4-inch thick. Shape should be like a cookie, not like a meatball or golf ball. Place the cakes in the refrigerator for at least 45 minutes before cooking. This is very important so the cakes don't fall apart.
</p>

<h2>Broil the Crab Cakes:</h2>

<p>Slip them under a preheated broiler until nicely browned, turning to cook evenly, about 4 to 5 minutes on each side.</p>
<h2>Or saute:</h2>

Heat a small amount of butter or olive oil in a skillet and saute the cakes, turning several times, until golden brown or about 8 minutes total cooking time.

Serve at once with tartar sauce, mustard, or cocktail sauce on the side.

<h6>Serves 6 people</h6>
    <img  class="img-fluid" src="http://www.crab-o-licious.com/images/stone-crab-3.jpg" alt="crab image"/>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>